@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: goldenrod;
}

/* Headings*/

header {
    overflow: hidden;
    border: 1px gray solid;
}

h1,
h2 {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: slategrey;
}


/* logo and menu */

#logo {
    font-size: 250%;
    float: left;
    margin-left: 30px;
    text-decoration: none;
    color: slategrey;
}

#nav-menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#nav-menu,
#logo {
    line-height: 75px;
}

#nav-menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#nav-menu a {
    text-decoration: none;
    color: inherit;
}

#nav-menu a:hover {
    color: green;
}


/* main -image*/
#main-image {
    float: left;
    height: 400px;
    clear: both;
    width: 33%;
    vertical-align: middle;
    position: relative;
    top: 50px;
    padding-left: 10px;
}

/* home info*/
#home-info {
    height: 450px;
    display: flex;
    padding-bottom: 10px;
}

#about-namibia {
    text-align: center;
    position: absolute;
    top: 150px;
    right: 325px;
    padding-top: 10px;
    border-bottom: 1px gray solid;
}

#weather {
    padding-top: 0px;
    height: 250px;
    width: 33%;
    text-align: center;
    float: right;
    /* background-color: greenyellow; */
    position: relative;
    top: 150px;
}

.right-side {
    position: relative;
    right: 50px;
}

.right-side>h2 {
    /* padding-bottom: 5px; */
    height: 50px;
}

#time {
    padding-top: 0px;
    height: 250px;
    width: 33%;
    float: right;
    /* background-color: hotpink; */
    text-align: center;
    position: relative;
    top: 150px;
}

#location {
    padding-top: 0px;
    height: 250px;
    width: 33%;
    float: right;
    /* background-color: indigo; */
    text-align: center;
    position: relative;
    top: 150px;
}

.right-side {
    width: 67%;
    float: right;
    line-height: 20px;
    clear: both;
    vertical-align: middle;
}

/* footer */
footer {
    height: 150px;
    border-top: 1px gray solid;
    clear: both;
}

/* social networks */

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    margin: 0;
    padding: 4%;
    color: slategrey;
}

/* gallery html */

#pictures>.gallery>.row {

    line-height: 10px;
    column-count: 3;
    column-gap: 5px;
    height: auto;
    clear: both;
}

#pictures>.gallery,
img {
    width: 100%;
    height: auto;
    /* padding: 10px; */
    float: right;
    border: 1px solid black;
    clear: both;
}

.row {
    height: 400px;
    width: 100%;
    /* margin: 10px; */
    /* padding: 5px; */
    margin-top: 30px;
    margin-bottom: 30px;
    /* margin-left: 5px; */
    /* display: inline-block; */
    vertical-align: middle;
    /* background-color:yellow; */
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* attractions page */
#attraction-page{
    width: 100%;
    height: 700px;
    background-color: salmon;
    position: relative;
}

#attraction-img {
    float: left;
    /* height: 400px; */
    clear: both;
    width: 33%;
    /* vertical-align: middle; */
    position: absolute;
    top: 50px;
    /* padding-left: 10px; */
    /* line-height: 50px; */
}

attraction-main-image{
     width: 100%;
}

#attractions-intro {
    text-align: center;
    width: 67%;
    /* line-height: 50px; */
    height: 100px;
    float:right;
    top: 50px;
    right: 0px;
    /* padding-top: 10px; */
    background-color: aqua;
    position: absolute;
    /* top: 50px; */
}

#attraction-details {
    width: 357px;
    background-color: red;
    position: absolute;
    top:150px;
    left: 450px;
    /* float: right; */
    /* clear: both; */
    /* display: inline-block; */
}

