@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #857527;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* Headings*/
h1,
h2 {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: slategrey;
}

header {
    overflow: hidden;
    background-color: #777
}

/* footer */
footer {
    clear: both;
    background-color: #777;
    position: relative;
    left: 0;
    margin-top: auto;
    width: 100%;
    text-align: center;
}

/* logo and menu */
#logo {
    font-size: 250%;
    float: left;
    margin-left: 30px;
    text-decoration: none;
    color: white;
}

#nav-menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#nav-menu,
#logo {
    line-height: 75px;
}

#nav-menu li {
    color: #ebd482;
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#nav-menu a {
    text-decoration: none;
    color: inherit;
}

#nav-menu a:hover {
    border-bottom: 1px white solid;
}

#nav-menu .active {
    color: white;
}

/* home info*/
.hero-banner {
    width: 100%;
    height: 200px;
    background-image: url('../images/banner.jpg');
    background-size: contain;
    animation: slide 20s linear infinite;
}

@keyframes slide {
    from {
        background-position: 0px;
    }

    to {
        background-position: 1600px;
    }
}

#welcoming_text {
    width: 100%;
    text-align: center;
}

#welcoming_text>p {
    font-size: 110%;
    padding: 10px 30px 10px
}

a {
    text-decoration: none;
    color: #857527;
    font-weight: bold;
}


#links_to_other_pages {
    width: auto;
    position: relative;
    margin: auto;
}

#right_contianer {
    background-image: url('../images/Webp.net-resizeimage\ \(5\).jpg');
    background-size: cover;
}

#center_contianer {
    background-image: url('../images/13131212_950677328378620_3487526895747999700_o.jpg');
    background-size: cover;
}

#left_contianer {
    background-image: url('../images/Webp.net-resizeimage\ \(4\).jpg');
    background-size: cover;
}

.link_container {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: #857527;
    border-width: 5px;
    border-radius: 50%;
    float: left;
    margin: 10px 30px 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}

.link_container>a>h3:hover {
    color: #fff;
    transform: scale(1.2);
    font-weight: bold;
}

.link_container>a>h3 {
    color: #fff;
    font-weight: bold;
}

/* booking page */
#booking-form-container {
    width: 100%;
    height: auto;
    position: relative;
    clear: both;
    margin-bottom: 10px;
}

#booking-text {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

form {
    width: 50%;
    position: relative;
    float: left;
}

#booking-image {
    position: relative;
    float: right;
    margin-right: 10px
}

.client-details {
    font-size: 110%;
    text-align: center;
}

input {
    margin-bottom: 10px;
    border-radius: 50px;
    border: 2px solid #777;
    box-sizing: border-box;
    width: auto;
    padding: 5px;
}

#request {
    width: 250px;
    height: 50px;
}

button {
    margin-top: 10px;
    border-radius: 50px;
    border: 2px solid #777;
    padding: 5px;
    background-color: #857527;
    color: #fff
}

button:hover {
    margin-top: 10px;
    border-radius: 50px;
    border: 2px solid #777;
    padding: 5px;
    background-color: #a4c558;
    color: #484848;
}

/* about Namibia */
#about-namibia-text {
    width: 100%;
    text-align: center;
}


#about-namibia-text>p {
    padding: 10px 30px 10px;
}

#namibia-image {
    width: 33%;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

/* gallery html */
#gallery_photo-container>.row {
    width: 100%;
    height: auto;
    line-height: 10px;
    column-count: 3;
    column-gap: 10px;
    margin-bottom: 40px;
}

#gallery_photo-container>.row>img {
    width: 100%;
    line-height: 10px;
    margin-bottom: 10px;
}

/* Thank you */
#thank-you-text {
    width: 100%;
    text-align: center;
    padding: 10px;
}

/* social networks */
.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    margin: 0;
    padding: 2%;
    color: white;
}

/*medium screen for large monitors 951px wide and up */
@media screen and (min-width: 951px) {
    form {
        width: 50%;
        margin-bottom: 10px;
    }

    #booking-image {
        width: 50%;
        margin-right: 0px;
    }
}

/*medium screen for mobiles and tabs 950px wide and down */
@media screen and (max-width: 949px) {

    /*logo and nav */
    #logo {
        letter-spacing: 1px;
        font-size: 200%;
        line-height: 30px;
        margin-left: 10px;
    }

    #nav-menu {
        font-size: 100%;
        float: left;
        clear: left;
        margin-left: 10px;
        margin-bottom: 0px;
        line-height: 30px;
    }

    #nav-menu li {
        list-style-type: none;
        margin-right: 10px;
        letter-spacing: 1px;
    }

    /*home page */
    .hero-banner {
        width: 100%;
        height: 100px;
        background-size: contain;
    }

    .link_container {
        width: 80px;
        height: 80px;
        border-width: 5px;
        border-radius: 50%;
        float: left;
        margin: 5px 5px 10px;
    }

    .link_container>a>h3 {
        font-size: 90%;
    }

    /* booking page */
    form {
        width: 100%;
        margin-bottom: 10px;
    }

    #booking-image {
        width: 100%;
        margin-right: 0px;
    }

    /* about Namibia */
    #about-namibia-text {
        width: 100%;
        text-align: center;
    }

    #about-namibia-text>p {
        padding: 10px 10px 10px;
    }

    #namibia-image {
        width: 100%;
        display: block;
        margin: auto;
        margin-bottom: 10px;
    }

    /* gallery html */
    #gallery_photo-container>.row {
        width: 95%;
        padding: 0px 10px 0px;
        column-count: 1;
        margin-bottom: 10px;
    }
}