@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: goldenrod;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* Headings*/
h1,
h2 {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: slategrey;
}

header {
    overflow: hidden;
    background-color: #777
}

/* footer */
footer {
    clear: both;
    background-color: #777;
    position: relative;
    left: 0;
    margin-top: auto;
    width: 100%;
    text-align: center;
}

/* logo and menu */
#logo {
    font-size: 250%;
    float: left;
    margin-left: 30px;
    text-decoration: none;
    color: white;
}

#nav-menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#nav-menu,
#logo {
    line-height: 75px;
}

#nav-menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#nav-menu a {
    text-decoration: none;
    color: inherit;
}

#nav-menu a:hover {
    border-bottom: 1px white solid;
}

#nav-menu .active {
    color: white;
}

/* home info*/
#home-page {
    width: 100%;
    position: relative;
}

/* main -image*/
#home-image {
    width: 33%;
    float: left;
    margin-bottom: 50px;
    position: relative;
    top: 50px;
    clear: both;
}

#main-image {
    width: 100%;
    height: auto;
    border: none;
}

#about-namibia-text {
    width: 67%;
    text-align: center;
    position: relative;
    top: 50px;
    float: right;
}

#about-namibia-text>p {
    padding: 10px;
}

.home-details {
/* top: 61px; */
}

#weather {
    width: 33%;
    text-align: center;
    position: relative;
    float: left;
    padding-left: 10px;
}

#time {
    text-align: center;
    position: relative;
    float: left;
    width: 33%;
}

#location {
    width: 33%;
    text-align: center;
    position: relative;
    float: left;
}

/* social networks */
.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    margin: 0;
    padding: 2%;
    color: white;
}

.ino-link i{
    font-size: 150%;
    margin: 0;
    padding: 2%;
    color:#777;
}
/* gallery html */
#gallery-page {
    width: 100%;
    position: relative;
}

#gallery-container {
    width: 100%;
}

.gallery-video {
    width: 33%;
    float: left;
    margin-bottom: 50px;
    position: relative;
    top: 50px;
    clear: both;
}

#imapal-video {
    width: 100%;
}

#gallery-text {
    width: 67%;
    text-align: center;
    position: relative;
    top: 110px;
    float: right;
}

#gallery-text > p {
    padding: 10px;
}

#pictures {
    width: 100%;
    position: relative;
    clear: both;
}

.gallery-photos {
    clear: both;
    padding-top: 50px;
}

#pictures > .gallery-photos>.row {
    line-height: 10px;
    column-count: 3;
    column-gap: 10px;
    height: auto;
}

#pictures > .gallery-photos,
img {
    width: 100%;
    height: auto;
    float: right;
}

.row {
    height: 400px;
    width: 100%;
    margin-bottom: 50px;
    vertical-align: middle;
}

/* attractions page */
#attraction-page {
    width: 100%;
    position: relative;
}

#attraction-img {
    width: 33%;
    float: left;
    margin-bottom: 50px;
    position: relative;
    top: 50px;
    clear: both;
}

#attraction-main-image {
    width: 100%;
    height: auto;
    border: none;
}

#attractions-text {
    width: 67%;
    text-align: center;
    position: relative;
    top: 50px;
    float: right;
}

#attractions-text > p {
    padding: 10px;
}

#must-see {
    font-weight: bold;
}

.etosha {
    width: 33%;
    text-align: center;
    position: relative;
    float: left;
    padding-left: 10px;
}

.swakopmund {
    text-align: center;
    position: relative;
    float: left;
    width: 33%;
}

.windhoek {
    width: 33%;
    text-align: center;
    position: relative;
    float: left;
}

/* booking page */
.booking-page {
    width: 100%;
    height: 550px;
    position: relative;
}

.booking-image {
    width: 33%;
    height: auto;
    position: absolute;
    top: 50px;
    float: left;
}

#shuttle-image {
    width: 100%;
    position: absolute;
}

.booking-form {
    width: 67%;
    height: 400px;
    position: relative;
    top: 50px;
    float: right;
}

#shuttle-booking-form {
    text-align: center;
    position: relative;
    margin: 0 auto;
}

form {
    width: 100%;
    position: absolute;
    
}

.cient-details {
    width: 80%;
    height: auto;
    position: relative;
    margin: 0 auto;
}

.cient-details > input {
    margin-left: 300px;
    margin-bottom: 10px;
}

.cient-details > label {
    position: absolute;
    top: 10px;
    left: 130px;
}

input,
select,
textarea {
    border-radius: 2px;
    border: 2px solid #777;
    box-sizing: border-box;
    width: auto;
    padding: 10px;
}

button {
    height: 50px;
    background: goldenrod;
    border: 1px black solid;
    color: white;
    border-radius: 5px;
    padding: 10px;
}


/*medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {

    #nav-menu {
        clear: both;
        margin-left: 0px;
        line-height: 25px;
        letter-spacing:0;
    }

    #home-image {
        width:100%;
    }

    
    #about-namibia-text {
        width:100%;
        display:grid
    }

    #about-namibia-text > .home-details {
        width:100%
    }
}